# GameBar init script
# NOTE: Customize these paths for your device's hardware

on boot
    # FPS
    chmod 0444 /sys/class/drm/sde-crtc-0/measured_fps

    # Battery temperature
    chmod 0444 /sys/class/thermal/thermal_zone90/temp

    # CPU temperature
    chmod 0444 /sys/class/thermal/thermal_zone28/temp

    # GPU stats
    chmod 0444 /sys/class/kgsl/kgsl-3d0/gpuclk
    chmod 0444 /sys/class/kgsl/kgsl-3d0/gpu_busy_percentage
    chmod 0444 /sys/class/kgsl/kgsl-3d0/gpu_model
    chmod 0444 /sys/class/kgsl/kgsl-3d0/gpu_available_frequencies
    chmod 0444 /sys/class/thermal/thermal_zone40/temp

    # RAM
    chmod 0444 /sys/class/thermal/thermal_zone45/temp
    chmod 0444 /sys/devices/system/cpu/bus_dcvs/DDR/cur_freq
